
module nemea_nrpe 1.0;

require {
	type var_run_t;
	type sysctl_net_t;
	type tmp_t;
	type cgroup_t;
	type nrpe_t;
	type proc_net_t;
	type unconfined_munin_plugin_exec_t;
	class dir { add_name getattr search write };
	class file { create execute execute_no_trans getattr ioctl open read write };
}

#============= nrpe_t ==============

#!!!! This avc is allowed in the current policy
allow nrpe_t cgroup_t:dir getattr;

#!!!! This avc is allowed in the current policy
allow nrpe_t proc_net_t:file { open read };

#!!!! This avc is allowed in the current policy
allow nrpe_t sysctl_net_t:dir search;

#!!!! This avc is allowed in the current policy
allow nrpe_t tmp_t:dir { add_name write };

#!!!! This avc is allowed in the current policy
allow nrpe_t tmp_t:file create;

#!!!! WARNING: 'tmp_t' is a base type.
allow nrpe_t tmp_t:file { open write };
allow nrpe_t unconfined_munin_plugin_exec_t:file ioctl;

#!!!! This avc is allowed in the current policy
allow nrpe_t unconfined_munin_plugin_exec_t:file { execute execute_no_trans getattr open read };

#!!!! This avc is allowed in the current policy
allow nrpe_t var_run_t:file { getattr open read };
