*.1
*.o
*~
.deps
.dirstamp
Makefile
Makefile.in
RPMBUILD
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configs/data-sources/ipfixcol.sup
configs/prepare_default_config.sh
configs/supervisor_config_template.xml
configs/warning.sup
configure
depcomp
fields.c
fields.h
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
munin/nemea_supervisor
nemea-supervisor
nemea-supervisor-*.tar.gz
nemea-supervisor.service
nemea-supervisor.spec
stamp-h1
test-driver
supervisor
supervisor_cli
