autom4te.cache
CMakeCache.txt
CMakeFiles/
tests/CMakeCache.txt
tests/CMakeFiles/
logs/
build/
tests/build/
cmake-build-debug

.valgrind-suppressions.txt
old_src/
.idea/
ncnemea/
tests/test_supervisor
tests/test_module
tests/intable_module
tests/test_stats
tests/test_conf
tests/test_run_changes
tests/test_inst_control
tests/test_utils
src/nemea-supervisor
src/cmake_install.cmake
*.swp

